<div class="table-responsive" data-ng-show="currentUser.role=='Admin'">
<h3>List of Blogs awaiting Approval</h3>
<table class="table">
<tr data-ng-repeat="blogPost in blogsWaitingForApproval">
<td><a href="#getBlogForApproval/{{blogPost.id}}">{{blogPost.title}}</a></td><td>Created by: {{blogPost.createdBy.firstName}}</td><td>Created on: {{blogPost.postedOn | date:'yyyy:mm:dd HH:mm'}}</td>
</tr>
</table>
</div>

<div class="table-responsive">
<h3>List of Blogs</h3>
<table class="table">
<tr data-ng-repeat="blogPost in blogsApproved">
<td><a href="#getBlogDetail/{{blogPost.id}}">{{blogPost.title}}</a></td><td>Created by: {{blogPost.createdBy.firstName}}</td><td>Created on: {{blogPost.postedOn | date:'yyyy:mm:dd HH:mm'}}</td>
</tr>
</table>
</div>