{{message}}
<form>
	<input type="text" placeholder="Title" ng-model="job.jobTitle" /><br>
	<input type="text" placeholder="Description" ng-model="job.jobDescription" /><br> <input type="text" placeholder="Location" ng-model="job.location" /><br> 
	<input type="text" placeholder="Experience in Years" ng-model="job.yrsOfExp" /><br>
	<input type="text" placeholder="Company" ng-model="job.companyName" /><br>
	<input type="text" placeholder="Required Skills" ng-model="job.skillsRequired" /><br> 
	<input type="text" placeholder="salary" ng-model="job.salary" /><br> 
		
		<input type="submit" value="Submit" ng-click="save()">
</form>