<div>
<h3>Please enter the following Details</h3>
	<span style="color: red"> {{error.message}}</span>
	<form>
		 <input type="text" ng-model="user.firstName" placeholder="First Name"><br>
		 <input type="text" ng-model="user.lastName" placeholder="Last Name"><br>
		 <input type="text" ng-model="user.email" placeholder="E-mail ID"><br>
		 <input type="text" ng-model="user.username" placeholder="Username"><br>
		 <input type="text" ng-model="user.password" placeholder="Password"><br>
		Select Role<input type="radio" ng-model="user.role" value="Student">Student<br />
		<input type="radio" ng-model="user.role" value="Alumni">Alumni<br />
		<input type="radio" ng-model="user.role" value="Employee">Employee<br />
		<input type="submit" ng-click="register()">
	</form>
</div>