<div class="container" align="center">
<h3>{{heading}}</h3>
<table>
<tr data-ng-repeat="mssg in messages">
<td><p data-ng-if="mssg.fromUser!=currentUser.username"><sub>{{mssg.fromUser}}</sub></p><p data-ng-if="mssg.fromUser==currentUser.username"><sub>Me</sub></p><p>{{mssg.body}}</p><p><sub>{{mssg.date | date:'medium'}}</sub></p></td>
</tr>
</table>
<form>
<textarea rows="3" cols="30" data-ng-model="message.body"></textarea><br>
<button class="btn btn-default" data-ng-click="send()">Send</button>
</form>
</div>